@font-face {
    font-family: 'Roboto'; /* Уникальное имя шрифта */
    src: url('fonts/Roboto-Black.woff2') format('woff2'); /* Современный формат */
    font-style: normal; 
    font-display: swap;
}